* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #Fff;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.card {
    display: inline-block;
    width: 30%;
    height: 500px;
    margin: 22px;
    border-radius: 20px;
    overflow: hidden;
    border: 7px solid #F6F1F1;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 300;
}

.card:hover .card-body {
    right: 0;
}

/* img {
    width: 30%;
    margin: calc(10%/6);
    box-shadow: 0 0.5em 0.5em -0.4em black;
} */

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    margin-left: calc(10%/6);
    padding: 1.2em 0px;
    /* font-family: Raleway, sans-serif; */
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
}