section {
    width: 80%;
    height: 800px;
    background-image: url(https://plus.unsplash.com/premium_photo-1661699883998-0a71be2f3710?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: right;
    background-color: pink; 
    margin: auto;
}
/* background-image: url(): 배경 이미지 설정
   background-size: 배경 크기 설정
   background-position: 배경의 시작점 설정
   background-repeat: 배경 반복 설정
   background: center/cover url(link...) 와 같은 형태로 속기법 사용이 가능하다.
   단, 위와 같이 항상 position/size의 형태로 작성해야한다.
   또한 배경은 다중 배경 설정이 가능하다. */

h1 {
    font-size: 100px;
    color: white;
} 