<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments) {%> <!-- EJS를 사용한 코드, comments 배열에서 for문을 돌림 -->
            <li>
                <%=c.comment%> - <b> <!-- comments 배열 내 comment 속성의 값 출력 -->
                        <%=c.username%> <!-- comments 배열 내 username 속성의 값 출력 -->
                    </b>
            </li>
            <% }%> <!-- for문이 끝나는 부분 -->
    </ul>
</body>

</html>